<h1> Sign Up! </h1>

<form action="/user" method="post">
  <label> Please enter a user name: </label>
  <input type="text" name="user[user_name]">
  <br>
  <label> Please enter a password: </label>
  <input type="text" name="user[password]">
  <br>
  <br>
  <input type="submit" value="Submit!">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

</form>
